name: Maven Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    uses: metricshub/workflows/.github/workflows/maven-central-deploy.yml@v4
    with:
      jdkVersion: "17"
    secrets: inherit
